{{#if profile}}
<section id="developers">
    <div class="inner-content mb-top">
        <h1 class="py-heading success">Developers</h1>
        <p class="lead">
            <i class="fab fa-connectdevelop"></i> Browse and Connect with
            Developers
        </p>
    </div>
    {{#each profile}}
    <div class="inner-content">
        <div class="developer bg-light">
            <img src="{{this.user.image}}" alt="Devansh gera" />
            <div class="developer-info">
                <h3>{{this.user.firstName}} {{this.user.lastName}}</h3>
                <p>
                    <i class="fa fa-building" aria-hidden="true"></i>{{this.professionalstatus}}

                </p>
                <p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>{{this.location}}
                </p>
                <a href="/profile/{{this.user.id}}" class="btn btn-primary">View Profile</a>
            </div>
            <div class="developer-skills col">
                <span><i class="fas fa-check"></i>HTML</span>
                <span><i class="fas fa-check"></i>CSS</span>
                <span><i class="fas fa-check"></i>Javascript</span>
                <span><i class="fas fa-check"></i>Node.js</span>
            </div>
        </div>
    </div>
</section>{{/each}}
{{else}}
<p><strong>
        <center>
            <h1>Sorry There Are No Users</h1>
        </center>
    </strong></p>
{{/if}}