<section id="developers">
    <div class="inner-content mb-top">
        <a class="btn btn-light" href="/developer"><i class="fas fa-arrow-left"></i>Back to
            Profiles</a>
        <div class="profile-menu bg-primary">
            <img src="{{profile.user.image}}" alt="Vikas Verma" />
            <h1 class="py-heading white">{{profile.user.firstName}} {{profile.user.lastName}}</h1>
            <p class="lead white">{{profile.professionalstatus}}</hp>
                <p>{{profile.location}}</p>
                <div class="profile-menu-icon">
                    <a href="{{profile.githubhandle}}"><i class="fab fa-github fa-2x"></i></a>
                    <a traget="_blank" href="{{profile.linkedin}}"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a traget="_blank" href="{{profile.twitter}}"><i class="fab fa-twitter fa-2x"></i></a>
                    <a traget="_blank" href="{{profile.facebook}}"><i class="fab fa-facebook fa-2x"></i></a>
                    <a traget="_blank" href="{{profile.instagram}}"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
        </div>
        <div class="profile-menu bg-light border bd-primary dark">
            <h3 class="sc-heading primary">{{profile.user.firstName}} {{profile.user.lastName}}</h3>
            <p class="dark bio-p">{{profile.bio}}</p>
            <h3 class="sc-heading primary">Skill Set</h3>
            <div class="developer-skills row dark">
                <span><i class="fas fa-check"></i>HTML</span>
                <span><i class="fas fa-check"></i>CSS</span>
                <span><i class="fas fa-check"></i>Javascript</span>
                <span><i class="fas fa-check"></i>Bootstrap</span>
                <span><i class="fas fa-check"></i>Sass</span>
            </div>
        </div>
        <div class="prsnl-info ">
            <div class="info border bd-primary bg-light scroll">
                <h3 class="sc-heading primary">Experiences</h3>
                <ul class="exp-items">

                </ul>

            </div>
            <div class="info border bd-primary bg-light scroll">
                <h3 class="sc-heading primary">Education</h3>
                <ul class="edu-items">

<<<<<<< HEAD
=======
                </ul>
>>>>>>> e0d5187055bfd65bb6d32d604a5ef6e661d1b87d
            </div>
        </div>
    </div>
    <script>
        fetch("/experience/data/" + "{{ profile.user.id }}").then((data) => {
            return data.json();
        }).then(response => {

            response.forEach(item => {
                let li = document.createElement("li");
                li.classList.add(".mb-1")
                let str = document.createElement("strong")
                str.textContent = item.job + " At " + item.organization
                li.appendChild(str)
                document.querySelector(".exp-items").appendChild(li)
            })


        });
        fetch("/education/data/" + "{{profile.user.id}}").then((data) => {
            return data.json();
        }).then(response => {
            response.forEach(item => {
                console.log(item.school);
                let li = document.createElement("li");
                let str = document.createElement("strong")
                str.textContent = item.school;
                li.appendChild(str);
                let p1 = document.createElement("p");
                let p2 = document.createElement("p");
                let p3 = document.createElement("p");
                p1.classList.add("mb-1");
                p2.classList.add("mb-1");
                p3.classList.add("mb-1");
                p1.innerHTML = "<strong>Degree :</strong> " + item.degree
                p2.innerHTML = "<strong>Field Of Study :</strong> " + item.field
                li.appendChild(p1);
                li.appendChild(p2)
                document.querySelector(".edu-items").appendChild(li)
            })
        })
    </script>
</section>